header{
    border: 1px solid;
    width: 100%;
    clear: both 
} 
header img{
height: 60px;
}
header section.logo{
    width: 10%;
}
 nav{
    display: inline-block;
    margin-top: 20px;
 }
 nav li{
    display: inline-block
 }
 nav li a{
    color: black;
    text-decoration: none;
    
    
 }